* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
/*Header*/
header {
  width: 100%;
  background-color: red;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
h1 {
  font-size: 70px;
  color: yellow;
}
/*Main*/
.pokemon-type-img {
  width: 90px;
  height: 90px;
  cursor: pointer;
}
